body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 5em;
    padding: 1em;
    background-color: gold;
}
header h1{
    text-align: center;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;  
}

ul{
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

main{
    background-color: #555;
    color: white;
    overflow: hidden;

}

footer{
    clear: both;
    background-color: black;
    color: white;
    height: 4em;
    padding: 1em;
}