body{
    font-family:'Open sans', sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

.message{
    margin-bottom: 20px;
}

.out-message{
    padding: 5px;
    background-color: lightblue;
}

.in-message{
    padding: 5px;
    background-color: lightseagreen;
}
